* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Source Serif 4", sans-serif;
  scroll-behavior: smooth
}

.d-flex {
  display: flex;
}

.w-90 {
  width: 90%;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

h2 {
  margin: 1em 0;
  font-size: 2em;
  color: $purple;
}

h3 {
  color: $purple;
  font-size: 1.5em;
  text-transform: capitalize;
}

h5 {
  font-size: 0.8em;
  font-weight: normal;
  text-transform: uppercase;
  color: $lightGrey;
}

.button {
  display: inline-block;
  margin-top: 2em;
  .btn {
    display: inline-block;
    padding: 0.7em 1.7em;
    border-radius: 5px;
    background-color: $purple;
    font-size: 1.1em;
    color: white;
    text-transform: capitalize;
    transition: all 0.2s;
  }
  .purple {
    background-color: $purple;
    color: white;
    &:hover {
      color: $purple;
      background-color: $lightPurple;
    }
  }
  .white {
    color: $purple;
    background-color: white;
    &:hover {
      background-color: $purple;
      color: white;
    }
  }
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 2em 1em;
  background-color: $purple;
  color: white;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.left-arrow {
  left: 0;
  z-index: 5;
}
.right-arrow {
  right: 0;
  z-index: 5;
}

.m-0 {
  margin: 0;
}
.m-05 {
  margin: 0.5em;
}
.mt-05 {
  margin-top: 0.5em;
}
